/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/tmp/

# rspec failure tracking
.rspec_status
/README.pdf
/README.tex
/README.synctex.gz
/_minted*
/auto/
/html/
