/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/tmp/

# rspec failure tracking
.rspec_status
/README.pdf
/README.tex
/README.md
/README.synctex.gz
/_minted*
/auto/
/html/
/lib/GPATH
/lib/GRTAGS
/lib/GTAGS
/GPATH
/GRTAGS
/GTAGS
/TAGS
/README.pyg
/.ruby-version
